body {
    margin: 0;
    padding: 0;
}

.center {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 200px;
    background-color: #000;
    border-radius: 10px;
    border-bottom: 30px solid rgb(122, 122, 122);
}

.center:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 53px;
    background-color: rgb(94, 94, 94);
    left: 50%;
    bottom: -69px;
    transform: perspective(100px) translateX(-50%) rotateX(25deg) skewX(7deg);
    transform-origin: bottom;
    z-index: -10;
}

.center:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: rgb(122, 122, 122);
    left: 50%;
    bottom: -75px;
    transform: translateX(-50%);
    z-index: 1;
}

.box {
    position: absolute;
    width: 350px;
    height: 200px;
    overflow: hidden;
    background-color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box:before {
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    left: 55%;
    background-color: rgba(160, 160, 160, 0.219);
    transform: skew(-10deg);
}

img {
    position: absolute;
    width: 10px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    z-index: 999;
}